<div class="myApp" ng-controller="applicationController" xmlns="http://www.w3.org/1999/html">
    <div ng-click="logout()" class="logout">Wyloguj</div>
    <div class="left">
        <div>
            <h2>PhotoKeeper</h2>
        </div>

        <ul class="tab-group-app">
            <li class="tap-app">
                <button>Zmień email</button>
            </li>
            <li class="tap-app">
                <input type="file" name="file" accept="image/*" onchange="angular.element(this).scope().uploadFile(this)"/>
                <span ng-if="showError">Bład podczas uploadu zdjecia</span>
            </li>
        </ul>
    </div>
    <div>
        <div class="content">
            <div>
                <h3>Lista plików</h3>
            </div>
            <div class="pagination">
                <div class="pagination-group">
                    <span>Ilosc plikow</span>
                    <span class="pagination-input">{{photos.totalNumberOfResults}}</span>

                </div>
                <div class="pagination-group">
                    <span>Liczba zdjęć na strone</span>
                    <input class="pagination-input" type="text" value="{{photos.elementsPerPage}}"/>
                </div>
                <div class="pagination-group">
                    <span>Strona</span>
                    <input class="pagination-input" type="text" value="{{photos.currentPage}}"/>
                </div>

            </div>

            <table class="table table-hover">
                <tbody>
                <tr class="table-info">
                    <th></th>
                    <th>Nazwa</th>
                    <th>Data utworzenia</th>
                    <th></th>
                </tr>
                <tbody>
                <tr ng-repeat="photo in photos.photoList">
                    <td><img src="data:image/jpeg;charset=utf-8;base64,{{photo.thumbnail}}"/></td>
                    <td>{{photo.photoName}}</td>
                    <td>{{photo.creationDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td><button ng-click="getPhoto(this)">Pokaż</button></td>
                </tr>

                </tbody>


            </table>
        </div>
        <div ng-if='showPhoto' data-role="popup" class="ui-popup ui-body-inherit ui-overlay-shadow ui-corner-all ownpopup"
             id="myPopup">
            <p>Oto Twoje zdjęcie!</p>
            <div ng-click="closePopup()" href="#pageone" data-rel="back"
                 class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">
                <span>Close</span>
            </div>
            <img src="data:image/jpeg;charset=utf-8;base64,{{image}}"/>

        </div>
    </div>
</div>

</div>