<div ng-controler="loginController">
    <div class="tab-group">
        <div ng-click='changeDisplay(false)' class="tab">Rejestracja</div>
        <div ng-click='changeDisplay(true)' class="tab">Zaloguj</div>
    </div>

    <div ng-show="displayLogin">
        <form autocomplete="off">
            <h1>Login</h1>
            <div ng-show='wrongCred'>Błędny email lub hasło</div>
            <div class="field-wrap">
                <label>
                    Email<span class="req">*</span>
                </label>
                <input type="text" required autocomplete="off" ng-model="email"/>
            </div>

            <div class="field-wrap">
                <label>
                    Hasło<span class="req">*</span>
                </label>
                <input type="password" required autocomplete="off" ng-model="password"/>
            </div>

            <button ng-click="loginController.login()" class="button button-block"/>
            Zaloguj</button>
        </form>
    </div>
    <div ng-show="!displayLogin">
        <form autocomplete="off">
            <h1>Rejestracja</h1>
            <div ng-show='successRegistration'>Gratulacje udało Ci się zarejestrować</div>
            <div ng-show='registrationError'>{{registrationErrorMessage}}</div>
            <div class="field-wrap">
                <label>
                    Email<span class="req">*</span>
                </label>
                <input type="text" required autocomplete="off" ng-model="newEmail"/>
            </div>
            <div class="field-wrap">
                <label>
                    Hasło<span class="req">*</span>
                </label>
                <input type="password" required autocomplete="off" ng-model="newPassword"/>
            </div>

            <button ng-click="loginController.register()" class="button button-block"/>
            Zarejestruj</button>

        </form>
    </div>
</div>