form {
  background: rgba(255,255,255, 0.75) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  padding: 2rem;
  max-width: 20rem;
  margin: auto;
  margin-top: 0.5rem;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
.tab-group{
background: rgba(255,255,255, 0.75) no-repeat center center fixed;
  padding: 2rem;
  max-width: 20rem;
  margin: auto;
  display: flex;
  margin-top: 8rem;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab{
margin: auto;
}

form button {
  margin: auto;
  display: block;
}

h1 {
  text-align: center;
  font-weight: 300;
  margin: 0 0 40px;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 25px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}
