.myApp{
  background: rgba(255,255,255, 0.75) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  padding: 2rem;
  max-width: 40rem;
  margin: auto;
  margin-top: 5rem;
  min-height: 40rem;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.logout{
float:right;
}

.left{
float:left;
}

.content{
font-size: 0.75rem;
}

ul {
  list-style-type: none;
}

.tab-group-app{
    display: -webkit-inline-box;
    float: right;
}

.tap-app{
    margin-right: 1rem;
}

h3{
    font-size: 1.5rem;
    display: inline-block;
    margin-top: 1rem;
    margin-left: 14REM;
 }

.pagination{
padding:1rem !important;
}

.pagination-group{
display: table-column !important;
margin-right: 2rem;
}

.pagination-input{
width: 3rem;
text-align: -webkit-center;
}

.ownpopup{
    position: absolute !important;
    top: 7em !important;
    left: 31rem !important;
    max-width: 35rem !important;
    max-height: 35rem !important;
    background: white !important;
}